*{
    margin: 0cm;
    border: 0cm;
}
#header {
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem;
    background-color: #2471A3;
}
#section-1 {
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
}
.title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #212121;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 28px;
    color: #565656;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}
.img {
    border-radius: 1rem;
    height: 250px;
    width: 350px;
}
.img:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
} 
#section-2 {
    align-items: center;
    padding-top: 40px;
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: white;
}
#footer {
    background-color: #2471A3;
    padding-bottom: 1rem;
    padding-top: 1rem;
    justify-content: center;
}
.icon {
    border-radius: 0.5rem;
    height: 40px;
    width: 40px;
} 

GALERIA

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
    box-sizing: border-box;
    margin: 0;
}
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    border: solid 1px rgb(255, 255, 255);
}
.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}
@media (min-width: 800px) {
    .tall {
        grid-row: span 2;
}
    .wideconejo {
        background-position: top;
}
    .wideperro {
        grid-row: span 2;
        background-position: center;
}
    .wideg {
        grid-row: span 1;
        grid-column: span 1;
        background-position: right;
}
    .gato {
     grid-column: span 2;
     background-position: center;
}
}
ADOPTA
.form-action {
    width: 400px;
    background-color: #5499C7;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    margin-bottom: 40px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
}
.form-action-items {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #5499C7;
}
.button {
    width: 100%;
    background: #2471A3;
    border-radius: 5px;
    padding: 12px;
    color: white;
    margin: 16px;
    font-size: 16;
    border: 1px solid #212121;
}
.button:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

CENTRO DE AYUDA

.img-button {
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    padding-bottom: 20px;
    padding-top: 20px;
}
.img-button:hover {
filter: opacity(0.9);
transform: scale(1.04);
}